
/* FONT-FACE  */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.body--overflow {
  overflow-y: hidden;
}

img {
  /* max-width: 100%; */
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(black);
  outline-offset: 3px;
}

/* CONTAINER */
.container {
  max-width: 1380px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


.button {
  padding: 32px 117px 32px 118px;
  background-color:  #263238;
  border-radius: 15px;
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.skills__button{
  border-radius: 5px;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 50px;
}

.skills__button-box{
  margin: 0;
  margin-top: 36px;
}

.button-border {
  margin-right: 10px;
  background-color: transparent;
  box-sizing: border-box;
  color: #000;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 17px 57px;
}

.button__form {
  width: 100%;
  max-width: 260px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 12px;
  border: none;
  cursor: pointer;
  padding: 25px 80px;
  border-radius: 10px;
}

.site-hader__button{
  margin-left: 230px;
}



/* TOGGLER  */
.toggler {
  margin-top: -30px;
  display: none;
  border: none;
  /* padding: 0; */
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
}

.toggler::before {
  display: none;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.toggler--open::before {
  display: block;
}

.toggler__img {
  display: block;
  width: 30px;
  height: 17px;
  object-fit: contain;
}



/* SITE-HEADER */
.site-header {
  display: flex;
  margin-top: 50px;
}

.site-header__container {
  display: flex;
  align-items: center;
  text-align: center;
}

.site-header__list {
  margin-left: 265px;
  list-style: none;
  display: flex;
}

.site-header__item:not(:last-child) {
  margin-right: 25px;
}

.site-header__link {
  font-size: 20px;
  line-height: 30px ;
  color:  #263238;
  text-decoration: none;
}


/* MAIN-CONTENT */
.hero {
  margin-top: 125px;
}

.hero__container {
  display: flex;
}

.hero__heading {
  margin: 0;
  font-size: 64px;
  line-height: 80px;
  color: #000;
  font-weight: 600;
}

.hero__text {
  margin: 0;
  margin-top: 27px;
  width: 632px;
  font-size: 24px;
  line-height: 36px;
  color:#8F95A5;
  font-weight: 400;
}

.hero__img {
  margin-left: -227px;
}

.hero__button{
  margin-top: 61px;
}


/* SKILLS */
.skills {
  margin-top: 94px;
}

.skills__list {
  margin: 0;
  display: grid;
  list-style: none;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills__heading {
  text-align: center;
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #000;
}

.skills__item {
  padding: 18px 21px;
  background-color: #F5F5F5;
  margin-right: 0;
  border-radius: 10px;
}

.skills__img{
  background-color: #F5F5F5;
}

.skills__title {
  margin: 0;
  font-size: 30px;
  line-height: 80px;
  font-weight: 600;
}

.skills__text {
  margin: 0;  
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
  font-weight: 400;
  width: 347px;
}

.skills__item:first-child{
  grid-row-start: 1;
  grid-row-end: 3;
}

.skills__item-2{

}

.skills__item-3{
  
}

.skills__item-4{
  display: flex;
}


/* ABOUT-US */
.about-us {
  margin-top: 190px;
}

.about-us__container {
  display: flex;
}

.about__us-title {
  margin: 0;
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
}

.about-us__text {
  margin: 0;
  margin-top: 23px;
  color: #8F95A5;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 635px;
}

/* INFO */
.info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -120px;
  margin-bottom: -50px;
  margin-top: 40px;
}

.info__text-number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 50px;
}

.info__text {
  font-size: 20px;
  line-height: normal;
  white-space: nowrap;
  color: #8F95A5;
}

.info__number {
  order: -1;
  color:#2A3246;
  font-size: 48px;
  line-height: 166%;
  font-weight: 600;
  margin: 0;
}

.asout-us__img {
  margin-left: 190px;
  display: block;
  width: 500px;
  height: 500px;
  object-fit: contain;
}


/* PRICING */
.pricing {
  margin-top: 230px;
}

.pricing-heading {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  text-align: center;
}

.pricing__list {
  margin: 0;
  list-style: none;
  display: flex;
}

.pricing__item:not(:last-child) {
  margin-right: 50px;
}

.pricing__item{
  margin: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 580px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.pricing__item-size{
  margin-top: -25px;
}

.pricing__item-bottom{
  padding-top: 1px;
}

.pricing__bottom{
  margin-top: 30px;
}

.pricing__title {
  font-size: 30px;
  line-height: 48px;
  color: #263238;
  font-weight: 600;
}

.pricing__text {
  width: 420px;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}

.pricing__payment {
  margin-top: 60px;
  width: 240px;
  /* height: 45px; */
  font-size: 18px;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 240px;
}

.pricing__number {
  font-size: 30px;
  line-height: 45px;
  color: #263238;
  font-weight: 400;
}

.pricing__number-info {
  margin-left: 11px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #546269;
}


/* CONTACT US */
.contact-us {
  padding-top: 165px;
}

.contact-us__container {
  display: flex;
  align-items: center;
}

.contact-us__wrapper{
  flex-direction: column;
  display: flex;
  margin-left: 111px;
}

.contact__us-about {
  width: 100%;
  max-width: 780px;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-us__title {
  margin: 0;
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
}

.contact__us-text {
  margin: 0;
  margin-top: 37px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}

.form__inner {
  display: flex;
}

.form__input {
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8F95A5;
  border-radius: 10px;
  border: 1px solid #8F95A5;
  padding: 32px;
}


/* FOOTER */
.footer {
  margin: 0;
  padding: 0;
  border-top: 1px solid #C4C4C4;
  margin-top: 133px;
}

.footer__container {
  margin: 0;
  margin-top: 31px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__items {
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  font-weight: 400;
  align-items: flex-end;
  margin-left: 600px;
}


@media only screen and (max-width: 1000px) {
  .body{
    font-size: 14px;
  }

  .site-header__img{
    width: 89px;
  }

  .site-header__list{
    font-size: 10px;
    /* line-height: 24px; */
    margin-left: 150px;
  }

  .button-border{
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    margin-right: 0;
  }

  .site-hader__button{
    margin-left: 70px;
    margin-right: 0;
    /* margin: 0; */
  }

  /* HERO */
  .hero__heading{
    font-size: 40px;
    line-height: 64px;
  }

  .hero__text{
    font-size: 20px;
    line-height: 30px;
    width: 417px;
  }

  .hero__img{
    margin-top: -170px;
    width: 580px;
    height: 660px;
  }

  .button{
    font-size: 24px;
    line-height: 36px;
  }

}

@media only screen and (max-width: 850px) {
  .site-header__list{
    align-items: center;
    display: none;
    flex-grow: 1;
  }

  .button-border{
    display: none;
  }

  .toggler{
    display: block;
  }
}



